<div class="parent">
  <h2>Parent component</h2>
  <p>Beverage list from Parent Component</p>
  <ul>
    <li *ngFor="let beverage of listOfBeverages">{{beverage}}</li>
  </ul>
  <h3>
    List of Beverage From Child Component using viewChild
  </h3>
  <button [disabled]="clickedButton" (click)="beverageFromChildComponent()">ChildComponent beverage via
    viewChild</button>
  <div>
    <ul>
      <li *ngFor="let beverageChild of beverageListFromChild">{{beverageChild}}</li>
    </ul>
  </div>
  <div>
    <h3>Message using viewChidl With Template Variable.</h3>
    <p #beverageMessage>Hello Consumer, Welcome</p>
  </div>
  <app-beverage [beverage]="beverage" (addNewBeverageEvent)="addBeverage($event)"></app-beverage>
</div>
<div>
</div>